<div class="container">
    <div class="left">
        <form [formGroup]="firmForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field class="form-field">
                    <mat-select placeholder="Firm Type" formControlName="type">
                        <mat-option *ngFor="let firmtype of firmtypes" [value]="firmtype.id">
                            {{firmtype.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <input matInput formControlName="name" placeholder="Name" [errorStateMatcher]="matcher">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <input matInput formControlName="description" placeholder="Description">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <input matInput formControlName="place" placeholder="Place">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <input matInput formControlName="address" placeholder="Address">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <mat-select placeholder="Country" formControlName="countrycode" [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let country of countries" [value]="country.code">
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <input matInput formControlName="email" placeholder="email" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="email && email.hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <input matInput formControlName="phone" placeholder="phone">
                </mat-form-field>
            </div>
            <div>
                <table>
                    <tr>
                        <td>
                            <div class="form-container">
                                <mat-form-field class="form-field">
                                    <input matInput formControlName="lat" placeholder="Latitude">
                                </mat-form-field>
                            </div>
                            <div class="form-container">
                                <mat-form-field class="form-field">
                                    <input matInput formControlName="lon" placeholder="Longitude">
                                </mat-form-field>
                            </div>
                        </td>
                        <td>
                            <a href="https://www.latlong.net/" target="_blank" title="How to get coordinates?">
                                <mat-icon>contact_support</mat-icon>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <button type="submit" mat-raised-button color="primary">{{submitButtonText}}</button>
                <button type="button" mat-button (click)="populateForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="right">
        <mat-toolbar>My businesses:</mat-toolbar>
        <mat-expansion-panel *ngFor="let firm of firms">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{firm.name}}
                </mat-panel-title>
                <mat-panel-description>
                    {{getFirmtype(firm.type)}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <table>
                    <tr>{{"Place: " + firm.place}}</tr>
                    <tr>{{"Description: " + firm.description}}</tr>
                    <tr>{{"Type: " + getFirmtype(firm.type)}}</tr>
                    <tr>{{"Address: " + firm.address}}</tr>
                    <tr>{{"Email: " + firm.email}}</tr>
                    <tr>{{"Phone: " + firm.phone}}</tr>
                </table>
            </div>
            <div>
                <mat-action-row>
                    <button mat-button (click)="populateForm(firm)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-action-row>
            </div>
        </mat-expansion-panel>
    </div>
</div>