<div class="container">
  <div class="left">
    <div class="filter">
          <mat-select 
            placeholder="Click for filtering business types" 
            [(value)]="selectedFirmTypes" 
            (selectionChange)="filtering()" 
            multiple>
            <mat-option *ngFor="let firmType of firmTypes" [value]="firmType">
              {{firmType.name}} ({{firmType.count}})
            </mat-option>
          </mat-select>
    </div>
    <mat-list class="lista">
      <ng-container *ngFor="let countryFirm of countryFirms">
        <h3 mat-subheader>  <img class="flag-icon" src="assets/icons/flag/{{countryFirm.country}}.svg">{{countryFirm.country}}</h3>
        <mat-expansion-panel *ngFor="let firm of countryFirm.firms">
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title>
                <img class="flag-icon" src="assets/icons/firmtype/{{firm.type}}.svg"> {{firm.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{firm.date}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <table>
              <tr>{{"Place: " + firm.place}}</tr>
              <tr>{{"Description: " + firm.description}}</tr>
              <tr>{{"Type: " + firm.type}}</tr>
            </table>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-list>
  </div>
  <div class="right">
    <div id="lmapa" class="lmapa"></div>
  </div>
</div>