/* .lmapa {
    position: relative;
} */

#lmapa { height: 80vh; }

.container {
    display: flex;
}

.lista {
    height: 50vh!important;
}
.left {
    float:left;
    width: 50vw;
    margin-right: 2vw;
}

.right {
    float:left;
    width: 45vw;
}

.panel-header {
    height: 35px!important;
}

.flag-icon {
    height: 15px;
    padding-left: 15px;
    padding-right: 15px;
}