<form [formGroup]="showForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="name">
      </label>
    </div>
    <div class="form-group">
        <label class="center-block">Description:
          <input class="form-control" formControlName="description">
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Type:
          <input class="form-control" formControlName="type">
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Date:
          <input class="form-control" formControlName="date">
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">State:
          <input class="form-control" formControlName="statecode">
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Latitude:
          <input class="form-control" formControlName="lat">
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Longitude:
          <input class="form-control" formControlName="lon">
        </label>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
     
  </form>