<form [formGroup]="showForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="organizer" placeholder="organizer">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="place" placeholder="Place">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <mat-select placeholder="Show Level" formControlName="level">
                <mat-option *ngFor="let showLevel of showLevels" [value]="showLevel.id">
                    {{showLevel.organizer}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <mat-select placeholder="Show Type" formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="countrycode" placeholder="Country Code">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="date" placeholder="Opening Date(YYYYMMDD)">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="regopen" placeholder="Registration open (YYYYMMDD)">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="regclosed" placeholder="Registration closed (YYYYMMDD)">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="lat" placeholder="Latitude">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="lon" placeholder="Longitude">
        </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary">Save</button>
    <button type="button" mat-button (click)="back()">Cancel</button>
</form>