<form [formGroup]="showForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="description" placeholder="Description">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="place" placeholder="Place">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="type" placeholder="Type">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="statecode" placeholder="Statecode">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="date" placeholder="Date(YYYY-MM-DD)">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="lat" placeholder="Latitude">
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input matInput formControlName="lon" placeholder="Longitude">
        </mat-form-field>
    </div>
    <button type="submit"  mat-raised-button color="primary">Save</button>    
  </form>