@import '~@angular/material/theming';

.container {
    display: flex;
}

.manifestation {
        margin-left: 10px;
}

.left {
    float:left;
    width: 40vw;
    margin-right: 2vw;
}

.right {
    float:left;
    width: 50vw;
}

.admin {
    padding-bottom: 7px;
}

.lmapa {
    position: relative;
    /* height: 50vh; */
    /* width:500px; */
}

#lmapa { height: 85vh; }

.filter-level {
    padding-bottom: 1vh;
}

.filter-type {
    padding-bottom: 1vh;
}

td {
    width: 50%;
    padding-right: 10px;
}

.checkbox-icon {
    height: 18px;
    padding-right: 15px;
}

.level-icon {
    height: 18px;
    padding-right: 15px;
}

.flag-icon {
    height: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.panel-title {
    width: 90%;
}

.panel-header-finished {
    background-color: mat-color($mat-grey, 200);
}

.check-uncheck-button {
    width: 50%;
}

.reg-open {
    color: mat-color($mat-green, 700);
    padding-top: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.reg-lastminute {
    color: mat-color($mat-red, 500);
    padding-top: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.reg-closed {
    color: mat-color($mat-grey, 500);
    padding-top: 1px;
    padding-right: 15px;
    padding-left: 15px;
}