.lmapa {
    position: relative;
    /* height: 50vh; */
    /* width:500px; */
}

#lmapa { height: 80vh; }

.container {
    display: flex;
}

.lista {
    height: 50vh!important;
}
.left {
    float:left;
    width: 40vw;
    margin-right: 2vw;
}

.right {
    float:left;
    width: 50vw;
}

.filter {
    padding-bottom: 2vh;
}