<div>
  <mat-button-toggle-group #groupBy="matButtonToggleGroup" value=1>
    <mat-button-toggle value=1>Group By Month</mat-button-toggle>
    <mat-button-toggle value=2>Group By State</mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-button *ngIf="admin>2">
    <a routerLink="/show">
      <mat-icon>add</mat-icon>
    </a>
  </button>
</div>
<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-list *ngIf="groupBy.value==2; else showByMonth">
      <ng-container *ngFor="let stateshow of stateshows">
        <h3 mat-subheader>{{stateshow.state}}</h3>
        <mat-expansion-panel *ngFor="let show of stateshow.shows">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{show.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{show.date}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <table>
              <tr>{{"Place: " + show.place}}</tr>
              <tr>{{"Description: " + show.description}}</tr>
              <tr>{{"Type: " + show.type}}</tr>
            </table>
          </div>
          <mat-action-row *ngIf="admin>2">
            <button mat-button>
              <a routerLink="/show" [queryParams]="{show: show | json }">
                <mat-icon>edit</mat-icon>
              </a>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-list-item *ngFor="let show of stateshow.shows">
          <mat-expansion-panel> {{show.name}}</mat-expansion-panel>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
        <div id="lmapa"></div>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #showByMonth>
  <mat-list>
    <ng-container *ngFor="let monthshow of monthshows">
      <h3 mat-subheader>{{monthshow.month}}</h3>
      <mat-expansion-panel *ngFor="let show of monthshow.shows">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{show.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{show.statecode}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <table>
            <tr>{{"Place: " + show.place}}</tr>
            <tr>{{"Description: " + show.description}}</tr>
            <tr>{{"Type: " + show.type}}</tr>
          </table>
        </div>
        <mat-action-row *ngIf="admin>2">
          <button mat-button>
            <a routerLink="/show" [queryParams]="{show: show | json }">
              <mat-icon>edit</mat-icon>
            </a>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-list>
</ng-template>