<div class="container">
  <div class="left">
    <div class="title">
        <img  alt="Dog exhibitors helper app!" src="/assets/images/title.png">
    </div>
    <div id="lmapa" class="lmapa"></div>
  </div>
  <div class="right">
      <div class="admin" *ngIf="admin>2">
          <button mat-raised-button (click)="loadAll()">{{txtLoad()}}</button>
          <button mat-button><a routerLink="/show">Add Show</a></button>
        </div>
    <div class="right-fixed">
        <div class="filter">
            <span class="mat-h3">{{"Filter countries" | translate }}:</span>
            <mat-select class="filter-country" placeholder="Click for filtering countries" [(value)]="countries"
              (selectionChange)="runFilter();updateCountries()" multiple>
              <div>
                <button class="check-uncheck-button" mat-raised-button (click)="checkAllCountries(); runFilter();updateCountries()">
                  Select All
                </button>
                <button class="check-uncheck-button" mat-raised-button (click)="uncheckAllCountries(); runFilter();updateCountries()">
                  Deselect All
                </button>
              </div>
              <mat-select-trigger>
                <img class="checkbox-icon" src="assets/icons/checkbox.svg"> {{"Selected" | translate}}:{{getFilterCountryHeader()}}
              </mat-select-trigger>
              <mat-option *ngFor="let country of allCountries" [value]="country.code">
                <span>{{country.name}} ({{country.count}}/{{country.all}})</span>
              </mat-option>
            </mat-select>
            <mat-slide-toggle (change)="loadData(false)"  [(ngModel)]="showPast">
              <span class="mat-h3">{{"Previous month" | translate }}</span>
            </mat-slide-toggle>
          </div>
      <!-- <div class="period">
        <span class="mat-h3">{{"Months to load" | translate }}:</span>
        <mat-slider class="period-slider" [max]="3" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="1"
          (change)="loadPeriod()" [(ngModel)]="loadingMonths">
        </mat-slider>
      </div> -->
    </div>
    <div class="main-list">
      <mat-list>
        <ng-container *ngFor="let monthshow of monthshows">
          <h3 mat-subheader class="mnth-subheader">
              <mat-icon class="calendar-icon">calendar_today</mat-icon>  
              {{intToDateToString(+(monthshow.month + "01"), "MMMM YYYY")}}</h3>
          <div class="mnf" *ngFor="let manifestation of monthshow.manifestations">
            <div *ngIf="manifestation.name"  class="mnf-subheader">
              <h3 mat-subheader>
                <img class="show-icon" src="assets/icons/manifestation.svg">
                  {{manifestation.name}}
                <button *ngIf="admin>2" type="button" mat-button (click)="addToManifestation(manifestation)">
                  <mat-icon>add</mat-icon>
                </button>
              </h3>
            </div>
            <div class="show" *ngFor="let show of manifestation.shows">
              <mat-expansion-panel 
                    [ngClass]="{'panel-header-finished': show.past}"
                    matTooltip="{{getToolTip(show)}}">
                <mat-expansion-panel-header class="panel-header">
                  <mat-panel-title [ngClass]="{'panel-header-finished': show.past}">
                    <span class="panel-title">
                      <img class="show-icon" [ngClass]="{'opacity04': show.past}" src="assets/icons/show/{{show.level}}.svg">
                      <img class="flag-icon" [ngClass]="{'opacity04': show.past}" src="assets/icons/flag/{{show.countrycode}}.svg">
                      {{show.name}}, {{show.place}} / {{intToDateToString(show.date, 'ddd, Do')}}
                    </span>
                  </mat-panel-title>
                  <mat-panel-description class="reg-flag-panel-descript">
                    <mat-icon class="reg-open" *ngIf="show.regFlag==='open'">access_time</mat-icon>
                    <mat-icon class="reg-lastminute" *ngIf="show.regFlag==='lastminute'">av_timer</mat-icon>
                    <mat-icon class="reg-closed" *ngIf="show.regFlag==='closed'">timer_off</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <table>
                    <tr>
                      <td>{{"Place" | translate}} {{": " + show.place}}</td>
                      <td>{{"Opening date" | translate}} {{": " + intToDateToString(show.date, 'll')}}</td>
                    </tr>
                    <tr>
                      <td>{{"Type" | translate}} {{": " + show.type + " Show"}}</td>
                      <td>{{"Registration until" | translate}} {{": " + intToDateToString(show.regclosed, 'll')}}</td>
                    </tr>
                    <tr>
                      <td>{{"Organizer" | translate}} {{": " + show.organizer}}</td>
                      <td><span *ngIf="show.link">
                          <a href={{show.link}} target="_blank">{{ "Entry info link" | translate }}</a>
                        </span></td>
                    </tr>
                  </table>
                </div>
                <mat-action-row *ngIf="admin>2">
                  <button mat-button>
                    <a routerLink="/show" [queryParams]="{show: show | json }">
                      <mat-icon>edit</mat-icon>
                    </a>
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </div>
          </div>
        </ng-container>
      </mat-list>
    </div>
  </div>
</div>