@import '~@angular/material/theming';

.left {
    float: left;
    width: 47vw;
    // padding-top: 50px;
    margin-right: 2vw;
    position: fixed;
}

.right {
    float: left;
    padding-left: 49vw;
    width: 48vw;
}

.admin {
    padding-bottom: 7px;
}

.lmapa {
    position: relative;
    /* height: 50vh; */
    /* width:500px; */
}

#lmapa { height: 83vh; }

.filter {
    display: inline-block;
    padding-bottom: 2vh;
}

.filter-type {
    padding-left: 30px;
    max-width: 10vw;
}

.filter-level {
    padding-left: 20px;
    max-width: 10vw;
}

.filter-country {
    padding-left: 20px;
    max-width: 12vw;
}

td {
    width: 50%;
    padding-right: 10px;
}

.mnth-subheader {
    justify-content: center;
}

.mnf-subheader {
    margin-left: 10px;
    // justify-content: center;
}

.mnf {
    padding-bottom: 15px;
}

.checkbox-icon {
    height: 15px;
    padding-right: 15px;
}

.show {
    margin-bottom: 2px;
}

.show-icon {
    height: 15px;
    padding-right: 15px;
}

.flag-icon {
    height: 15px;
    width: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.panel-header {
    height: 35px!important;
}

.panel-title {
    width: 90%;
}

.panel-header-finished {
    background-color: mat-color($mat-grey, 100);
    color: mat-color($mat-grey, 400); 
}

.check-uncheck-button {
    width: 50%;
}

.reg-open {
    color: mat-color($mat-green, 700);
    padding-top: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.reg-lastminute {
    color: mat-color($mat-red, 500);
    padding-top: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.reg-closed {
    color: mat-color($mat-grey, 500);
    padding-top: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.period {
    display: inline-block;
    // padding-bottom: 2vh;
}

.period-slider {
    width: 40vw;
    padding-left: 15px;
}