<div class="container">
  <div class="left">
    <div class="filter">
      <mat-select placeholder="Click for filtering show types" [(value)]="selectedShowTypes" (selectionChange)="filtering()"
        multiple>
        <div class="check-uncheck">
          <button class="check-uncheck-button" mat-raised-button (click)="checkAllTypes()">
            Select All
          </button>
          <button class="check-uncheck-button" mat-raised-button (click)="unCheckAllTypes()">
            Deselect All
          </button>
        </div>
        <mat-select-trigger>
          {{getFilterHeader()}}
        </mat-select-trigger>
        <mat-option *ngFor="let showType of showTypes" [value]="showType">
          <img  src="assets/icons/showtype/{{showType.id}}.svg">
          <span>{{showType.description}} ({{showType.count}})</span>
        </mat-option>
      </mat-select>
    </div>
    <div>
      <mat-button-toggle-group #groupBy="matButtonToggleGroup" value=1>
        <mat-button-toggle value=1>Group By Month</mat-button-toggle>
        <mat-button-toggle value=2>Group By Country</mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-button *ngIf="admin>2">
        <a routerLink="/show">
          <mat-icon>add</mat-icon>
        </a>
      </button>
    </div>
    <mat-list *ngIf="groupBy.value==2; else showByMonth">
      <ng-container *ngFor="let countryshow of countryshows">
        <h3 mat-subheader><img class="flag-icon" src="assets/icons/flag/{{countryshow.country}}.svg">{{countryshow.country}}</h3>
        <mat-expansion-panel *ngFor="let show of countryshow.shows" matTooltip="{{getToolTip(show)}}">
          <mat-expansion-panel-header>
            <mat-panel-title [ngStyle]="{'width': '300px'}">
                <img class="type-icon" src="assets/icons/showtype/{{show.type}}.svg">{{show.name}}/{{show.date}}
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon class="reg-open" *ngIf="show.regFlag==='open'">access_time</mat-icon>
              <mat-icon class="reg-lastminute" *ngIf="show.regFlag==='lastminute'" >av_timer</mat-icon>
              <mat-icon class="reg-closed" *ngIf="show.regFlag==='closed'">timer_off</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <table>
              <tr>{{"Place: " + show.place}}</tr> 
              <tr>{{"Description: " + show.description}}</tr>
              <tr>{{"Type: " + getTypeName(show.type)}}</tr>      
            </table>
          </div>
          <mat-action-row *ngIf="admin>2">
            <button mat-button>
              <a routerLink="/show" [queryParams]="{show: show | json }">
                <mat-icon>edit</mat-icon>
              </a>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
    </mat-list>
  </div>
  <div class="right">
    <div id="lmapa" class="lmapa"></div>
  </div>
</div>

<ng-template #showByMonth>
  <mat-list class="lista">
    <ng-container *ngFor="let monthshow of monthshows">
      <h3 mat-subheader>{{monthshow.month}}</h3>
      <mat-expansion-panel *ngFor="let show of monthshow.shows" matTooltip="{{getToolTip(show)}}">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <span class="panel-title">
                  <img class="type-icon" src="assets/icons/showtype/{{show.type}}.svg">
                  {{show.name}}
                  <img class="flag-icon" src="assets/icons/flag/{{show.countrycode}}.svg">
              </span> 
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon class="reg-open" *ngIf="show.regFlag==='open'">access_time</mat-icon>
            <mat-icon class="reg-lastminute" *ngIf="show.regFlag==='lastminute'" >av_timer</mat-icon>
            <mat-icon class="reg-closed" *ngIf="show.regFlag==='closed'">timer_off</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <table>
            <tr>{{"Place: " + show.place}}</tr>
            <tr>{{"Description: " + show.description}}</tr>
            <tr>{{"Type: " + getTypeName(show.type)}}</tr>
          </table>
        </div>
        <mat-action-row *ngIf="admin>2">
          <button mat-button>
            <a routerLink="/show" [queryParams]="{show: show | json }">
              <mat-icon>edit</mat-icon>
            </a>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-list>
</ng-template>