.menu{
    width: 100%;
    position: fixed;
    background: white;
}

.menu-btn {
    float: left;
    width: 5vw;
}

.lang {
    float: right;
    padding-right: 2vw;
    width: 5vw;
}

.flag-icon {
    height: 25px;
    width: 30px;
}

.menu-icon {
    font-size: 40px!important;
}

.router-outlet{
    padding-top:45px!important;
    padding-left:5px;
}