.menu{
    width: 30vw;
    position: fixed;
    padding-bottom: 5px;
    padding-right: 5px;
}

.menu-icon {
    font-size: 40px!important;
}

.router-outlet{
    padding-top:50px;
    padding-left:10px;
}